services:
  app:
    build: .
    ports:
      - "4000:4000"
    environment:
      - APPSEC_DB_KEY=${APPSEC_DB_KEY}
      - SMTP_HOST=mailhog
    volumes:
      - app-data:/app/data
    depends_on:
      - mailhog

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"

volumes:
  app-data:
