services:
  app:
    build: .
    ports:
      - "4000:4000"
    environment:
      APPSEC_DB_KEY: ${APPSEC_DB_KEY}
    volumes:
      - app-data:/app/data
      - ./certs:/app/certs:ro
      - ./config.toml:/app/config.toml:ro
    depends_on:
      - mailhog

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  app-data:
